{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

{{nav.top.render()}}
<html>
<head>
	<link rel="stylesheet" href='/static/style_dice.css'/>
</head>

<body>
<div class="container">
	<h1>Dice Page</h1>
	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D4">Roll All D4</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D4">Add D4</button>
	  	<button type="button" class="Remove D4">Remove D4</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D6">Roll All D6</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D6">Add D6</button>
	  	<button type="button" class="Remove D6">Remove D6</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D8">Roll All D8</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D8">Add D8</button>
	  	<button type="button" class="Remove D8">Remove D8</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D10">Roll All D10</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D10">Add D10</button>
	  	<button type="button" class="Remove D10">Remove D10</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D12">Roll All D12</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D12">Add D12</button>
	  	<button type="button" class="Remove D12">Remove D12</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll D20">Roll All D20</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D20 col-sm-1">D20</button>
	  	<button type="button" class="dice D20 col-sm-1">D20</button>
	  	<button type="button" class="dice D20 col-sm-1">D20</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add D20">Add D20</button>
	  	<button type="button" class="Remove D20">Remove D20</button>
	  </div>
	</div>

	<br>

	<a href='/'>Back</a><br>
</div>
	<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='dice.js') }}"></script>
</body>
</html>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}