{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<html>
<head>
	<link rel="stylesheet" href='/static/style_dice.css'/>
</head>

<body>
<div class="container">
	<h1>Dice Page</h1>
	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll">Roll All D4</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  	<button type="button" class="dice D4 col-sm-1">D4</button>
	  </di
	  <div class="col-sm-4">
	  	<button type="button" class="Add">Add D4</button>
	  	<button type="button" class="Remove">Remove D4</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll">Roll All D6</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  	<button type="button" class="dice D6 col-sm-1">D6</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add">Add D6</button>
	  	<button type="button" class="Remove">Remove D6</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll">Roll All D8</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  	<button type="button" class="dice D8 col-sm-1">D8</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add">Add D8</button>
	  	<button type="button" class="Remove">Remove D8</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll">Roll All D10</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  	<button type="button" class="dice D10 col-sm-1">D10</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add">Add D10</button>
	  	<button type="button" class="Remove">Remove D10</button>
	  </div>
	</div>

	<div class="row dicerow">
	  <div class="col-sm-2">
	  	<button type="button" class="RollAll">Roll All D12</button>
	  </div>
	  <div class="col-sm-6 dice_container">
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  	<button type="button" class="dice D12 col-sm-1">D12</button>
	  </div>
	  <div class="col-sm-4">
	  	<button type="button" class="Add">Add D12</button>
	  	<button type="button" class="Remove">Remove D12</button>
	  </div>
	</div>

	<br>

	<a href='/'>Back</a><br>
</div>
	<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='dice.js') }}"></script>
</body>
</html>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}