{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

<div class="container">
	<head>
		<link rel="stylesheet" href='/static/style.css' />
	</head>

	<body>
	<h1>Boardgame Utilities!</h1>
	<a href='/dice_roller'>Dice Roller</a><br>
	<a href='/trending_games'>Trending Games!</a><br>
	<a href='/scoreboard'>Scoreboard</a><br>
	</body>
</div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}