{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

{{nav.top.render()}}
<div class="container">
    <head>
        <meta charset="UTF-8">
        <title>Trending Games!</title>
    </head>
    <body>
        <h1>Trending Games!</h1>
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in hot_items_dict.items() %}

              <tr>
                  <script>
                      document.write('<th> <a href="https://boardgamegeek.com/boardgame/' + {{ key }}+'">{{ value }}</a> </th>')
                  </script>
                </tr>

              {% endfor %}
            </tbody>
         </table>
    	<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
    </body>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}