{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

{{nav.top.render()}}
<div class="container">
    <head>
        <meta charset="UTF-8">
        <title>Scoreboard Home</title>
    </head>
    <body>
        {{wtf.quick_form(form,button_map = {'submit_button':'primary'}) }}
        <hr>
        {{wtf.quick_form(room,button_map = {'submit_button':'primary'}) }}
    </body>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}