{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Scoreboard For Room {{id}}</title>
</head>
    <body>
        <h1>Scoreboard For Room {{id}}</h1>
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in result.items() %}

              <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
              </tr>

              {% endfor %}
            </tbody>
         </table>
    </body>
<body>

</body>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}